*/atomic_configure/*
*/catkin/*
*/catkin_generated/*
*/CMakeFiles/*
*/devel/*
*/gtest/*
*/test_results/*

*/CMakeCache.txt
*/CTestConfiguration.ini
*/CTestCustom.cmake
*/CTestTestfile.cmake
*/Makefile

*/__pycache__/*

*.pyc
/.vscode
/NMTAFE_llama_chatbot/testing/model
/NMTAFE_llama_chatbot/scripts/model
/NMTAFE_llama_chatbot/njs server/node_modules
